{% extends 'base.html' %}

{% block content %}

<div class="card">
    <title>Lista de Pacientes</title>
    <div class="card-body">
        <h4 align="Center">PACIENTES</h4>
        <hr>
        <form method="GET" class="search-form">
           <div class="form-outline mb-4">
               <input type="text" class="form-control"  placeholder="Pesquisar" name="search" id="search">
           </div>
        </form>

        {% if search_query %}
            <h2> Result for " {{ search_query }}"</h2>
        {% endif %}
        <hr>
        <a class="btn btn-success float-right" href="{% url 'paciente_add' %}">NOVO</a>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>CPF</th>
                    <th>Convênio</th>
                    <th>Plano</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.Nome }}</td>
                        <td>{{ paciente.Telefone }}</td>
                        <td>{{ paciente.CPF }}</td>
                        <td>{{ paciente.Convênio }}</td>
                        <td>{{ paciente.Plano }}</td>
                        <td>
                            <a href="{% url 'paciente_edit' paciente.id %}" style="color: #ff9944"  class="fa-regular fa-pen-to-square"></a>
                            <a href="{% url 'paciente_pdf_view' paciente.pk %}" style="color: #0048ba" class="fa-regular fa-print"></a>
                            <a href="{% url 'paciente_delete' paciente.id %}" style="color: #ec471d" class="fa-regular fa-trash-can"
                            onclick="return confirm('Tem certeza que deseja excluir esse paciente?')"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'pagination.html' %}
    </div>
</div>
{% endblock%}